# Directories
.git
ansible
bower_components
docs
media
node_modules
build
dist
originals
modified

.tox
.coverage
.DS_Store
.dockerignore
.editorconfig
.env
.gitattributes
.gitignore
.ropeproject
.sass-cache
__pycache__
**/local_settings.py
**/*.egg-info
**/*.egg
**/*.pyc
**/*.swp
**/*.log
